body {
background-color: White;
}

h1 {
  color: yellow;
  background-color: DarkCyan;
  width: 110%;
  text-align: center;
  margin-top: -7.8px;
  margin-left: -9px;
}

h2 {
  color: black;
  background-color: DarkCyan;
  width: 15%;
  height: 100px;
  margin-top: -22px;
  margin-left: -10px;
  text-align: center;
}
h3 {
  color: black;
  background-color: DarkCyan;
  width: 15%;
  text-align: center;
  margin-top: -20px;
  margin-left: -10px;
}
  
