body {
background-color: White;
}

h1 {
  color: yellow;
  background-color: DarkCyan;
  width: 110%;
  text-align: center;
  margin-top: -7.8px;
  margin-left: -9px;
}

h2 {
  color: black;
  background-color: DarkCyan;
  width: 15%;
  height: 100px;
  margin-top: -22px;
  margin-left: -10px;
  text-align: center;
}
h3 {
  color: black;
  background-color: DarkCyan;
  width: 15%;
  text-align: center;
  margin-top: -20px;
  margin-left: -10px;
}
h4 {
  color: black;
  background-color: darkcyan;
  width: 15%;
  margin-top: -19px;
  margin-left: -10px;
  text-align: center;
  border-bottom-width: 550px;
  border-bottom-style: solid;
  border-color: darkcyan;
}
h5 {
  color: black;
  background-color: darkcyan;
  width: 110%;
  text-align: center;
  margin-bottom: 20px;
}
